<% if(page.comments && theme.gitalk.enabled){ %>
    <div class="blog-post-comments">
        <div id="gitalk-container">
            <noscript>Gitalk 评论插件加载异常</noscript>
        </div>
    </div>
<% } %>
